{% extends "quagga.jinja" %}
{% block interfaces %}
{% for interface in interfaces %}
interface {{ interface["port_id"] }}
  description {{ interface["description"] }}
  ipv6 address {{ loopback_ip }}
  ipv6 ospf6 bfd 2 100 200
  ipv6 ospf6 dead-interval 8
  ipv6 ospf6 hello-interval 2
  ipv6 ospf6 point-to-point
  ipv6 ospf6 priority 10
  link-detect
!
{% endfor %}
interface lo
  ipv6 address {{ loopback_ip }}
!
{% endblock %}